:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --font: 'Poppins', sans-serif;
    --light: 200;
    --regular: 400;
    --bould: 600;
}

html {
    box-sizing: border-box;
    font-size: 15px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font);
    color: var(--very-dark-blue);
    background-color: var(--very-light-gray);
    min-height: 100vh;
    display: grid;
    align-content: center;
}

.features {
    padding: 5rem 1rem 0;
    display: grid;
    justify-items: center;
}

.features__title {
    font-size: 1.65rem;
    font-weight: var(--light);
    text-align: center;
}

.features__title--bould {
    font-weight: var(--bould);
}

.features__text {
    max-width: 500px;
    font-weight: var(--light);
    text-align: center;
    margin: 0;
}

.cards {
    padding: 4rem 0;
    display: grid;
    justify-content: center;
    gap: 30px;
}

.card {
    min-width: 250px;
    max-width: 350px;
    background-color: white;
    border-radius: 0  0 5px 5px;
    padding: 1rem 2rem 2rem;
    box-shadow: 0 5px 25px -5px var(--grayish-blue);
    position: relative;
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -4px;
    left: 0;
    z-index: -1;
    border-radius: 5px;
}

.card--cyan::before {
    background-color: var(--cyan);
}

.card--red::before {
    background-color: var(--red);
}

.card--orange::before {
    background-color: var(--orange);
}

.card--blue::before {
    background-color: var(--blue);
}

.card__title {
    font-size: 1.5rem;
    font-weight: var(--bould);
    margin: .4rem 0;
}

.card__text {
    font-weight: var(--light);
    margin: 0;
}

.card__icon {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
}

@media screen and (min-width: 1024px) {
    .features {
        padding-top: 0;
    }
    .features__title {
        font-size: 2rem;
    }
    .cards {
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        align-items: center;
    }
    .card--cyan {
        grid-row: 1 / span 2;
    }
    .card--red {
        grid-column: 2;
    }
    .card--orange {
        grid-column: 2;
    }
    .card--blue {
        grid-column: 3;
        grid-row: 1 / span 2;
    }
}